@font-face {
  font-family: 'Manrope';
  src: url('https://fonts.google.com/specimen/Manrope');
}

body {
  margin: 0;
  font-family: Manrope;
}

main {
  background: hsl(218, 23%, 16%);
  padding: 1em;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.advice {
  background: hsl(217, 19%, 24%);
  padding: 1em;
  padding-bottom: 3em;
  border-radius: 0.5em;
  position: relative;
  text-align: center;
  max-width: 340px;
}

.advNum, .advText, .divider {
  margin-top: 20px;
}

.advNum {
  color: hsl(150, 100%, 66%);
}

.advText {
  color: hsl(193, 38%, 86%);
  font-size: 28px;
  font-weight: 800;
  line-height: 1.5em;
}

.randomize {
  background: hsl(150, 100%, 66%);
  padding: 1em;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -30px;
  left: 41.5%;
  cursor: pointer;
  transition: 200ms ease 50ms;
}

.randomize:hover {
  box-shadow: 0 0 20px hsl(150, 100%, 66%);
}